<div class="ui card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <a class="header">{{fullname}}</a>
    <div class="meta">
      <span class="date">参加中 {{joined}}</span>
    </div>
    <div class="description">
      {{name}}さんは{{job}}における{{city}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{mates}} 友人
    </a>
  </div>
</div>